<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <%for(var i=0;i<=centers.length-1;i++){%>
    <div class="card"> 
        <h2>center name: <%=centers[i].name%></h2>
        <p> center address :<%=centers[i].address%></p>
        <p> available dose :<%=centers[i].sessions[0].available_capacity%></p>
        <p> available dose 1:<%=centers[i].sessions[0].available_capacity_dose1%></p>
        <p> available dose 2:<%=centers[i].sessions[0].available_capacity_dose2%></p>
    </div>
    <%}%>
</body>
</html>